시본 Seaborn  라이브러리는 맷플로립을 기반으로 다양한 테마와 통계용 차트등의 동적인 기능을 추가한 라이브러리로
시본 라이브러리는 맷플로립과 다르게 통계와 관련된 차트를 제공하기 떄문에
데이터프레임으로 다양한 통계 지표를 만들어 낼수있으며 데이터 분석에 활발하게 사용되고있음

시본 라이브러리로 그리는 그래프들은 크게 관계형 분포형 카테고리형의 세가지 범주로 분류할수있는데
실제 분석에는 맷플로립과 시본 라이브러리 두가지를 함께사용
시본 라이브러리를 사용할떄 주의할 점은 시본이 맷플로ㅓ립에 의존적이기 떄문에 맷프로립 라이브러리도 반드시 함계 임포트해야됨

시본 라이브러리의 주요 특징
1) 뛰어난 시각화 효과 2) 간결한 구문 제공 3) 판다스 데이터 프레임에 최적화 4) 쉬운 데이터프레임 집계및 차트 요약

시본라이브러리는 기본적으로 맷플로립보다 제공하는 색상이 더 많기에 색 표현력이 좋음
맷플로립으로 그래프를 표현하더라도 시본의 set()함수를 미리 선언해주면 자동으로 시본 팔레트에 출력
시본은 deep, muted, pastel, bright, dark, colorblind의 총 6개 기본 팔레트를 제공

http://seaborn.pydata.org/

 1. 데이터 시각화 준비하기

01.라이브러리 및 데이터 읽어오기

In [1]:
import pandas as pd

In [2]:
data = pd.read_excel('./input/health_screenings_2020_1000ea.xlsx')
data.head()

,year,city_code,gender,age_code,height,weight,waist,eye_left,eye_right,hear_left,...,serum,AST,ALT,GTP,smoking,drinking,oral_check,dental_caries,tartar,open_date
0,2020,36,1,9,165,60,72.1,1.2,1.5,1,...,1.1,21.0,27.0,21.0,1,0,0,NaN,NaN,2021-12-29
1,2020,27,2,13,150,65,81.0,0.8,0.8,1,...,0.5,18.0,15.0,15.0,1,0,0,NaN,NaN,2021-12-29
2,2020,11,2,12,155,55,70.0,0.6,0.7,1,...,0.7,27.0,25.0,7.0,1,0,0,NaN,NaN,2021-12-29
3,2020,31,1,13,160,70,90.8,1.0,1.0,1,...,1.2,65.0,97.0,72.0,1,0,1,0.0,0.0,2021-12-29
4,2020,41,2,12,155,50,75.2,1.5,1.2,1,...,0.7,18.0,17.0,14.0,1,0,0,NaN,NaN,2021-12-29

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 30 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   year           1000 non-null   int64
 1   city_code      1000 non-null   int64
 2   gender         1000 non-null   int64
 3   age_code       1000 non-null   int64
 4   height         1000 non-null   int64
 5   weight         1000 non-null   int64
 6   waist          1000 non-null   float64
 7   eye_left       1000 non-null   float64
 8   eye_right      1000 non-null   float64
 9   hear_left      1000 non-null   int64
 10  hear_right     1000 non-null   int64
 11  systolic       991 non-null    float64
 12  diastolic      991 non-null    float64
 13  blood_sugar    991 non-null    float64
 14  cholesterol    401 non-null    float64
 15  triglycerides  401 non-null    float64
 16  HDL            401 non-null    float64
 17  LDL            394 non-null    float64
 18  hemoglobin     991 non-null    float64
 19  urine_protein  987 non-null    float64
 20  serum          991 non-null    float64
 21  AST            991 non-null    float64
 22  ALT            991 non-null    float64
 23  GTP            991 non-null    float64
 24  smoking        1000 non-null   int64
 25  drinking       1000 non-null   int64
 26  oral_check     1000 non-null   int64
 27  dental_caries  306 non-null    float64
 28  tartar         306 non-null    float64
 29  open_date      1000 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(18), int64(11)
memory usage: 234.5 KB

2. 데이터 전처리

In [6]:
# 성별 음주여부 흡연상태에 대하여 숫자로 저정되어있는 정보를 데이터 분석의 가독성을 높이기 위해
# 'Male', 'Female', 'Non-drinking', 'Drinking', 'Non_smoking', 'smoking'의 문자열로 변경하여 데이터 전처리

data6 = data[['gender', 'height', 'weight', 'waist', 'drinking', 'smoking']]
data6.head()

   gender  height  weight  waist  drinking  smoking
0       1     165      60   72.1         0        1
1       2     150      65   81.0         0        1
2       2     155      55   70.0         0        1
3       1     160      70   90.8         0        1
4       2     155      50   75.2         0        1

In [7]:
data6.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   gender    1000 non-null   int64
 1   height    1000 non-null   int64
 2   weight    1000 non-null   int64
 3   waist     1000 non-null   float64
 4   drinking  1000 non-null   int64
 5   smoking   1000 non-null   int64
dtypes: float64(1), int64(5)
memory usage: 47.0 KB

In [11]:
# 성별 데이터를 Male과 female로 변경
data6.loc[data6['gender'] == 1, ['gender']] = 'Male'
data6.loc[data6['gender'] == 2, ['gender']] = 'Female'
# 음주 여부 0 비음주 Non-drinking 1 음주는 Drinking 으로 변경
data6.loc[data6['drinking'] == 0, ['drinking']] = 'Non-drinking'
data6.loc[data6['drinking'] == 1, ['drinking']] = 'drinking'
# 흡연상태 1(비흡연)과 2 (흡연 끊음)는 Non_smoking 3 (흡연) smoking 으로 변경
data6.loc[(data6['smoking'] == 1) | (data6['smoking'] == 2), ['smoking']] = 'Non-smoking'
data6.loc[data6['smoking'] == 3, ['smoking']] = 'smoking' 
data6.head()

   gender  height  weight  waist      drinking      smoking
0    Male     165      60   72.1  Non-drinking  Non-smoking
1  Female     150      65   81.0  Non-drinking  Non-smoking
2  Female     155      55   70.0  Non-drinking  Non-smoking
3    Male     160      70   90.8  Non-drinking  Non-smoking
4  Female     155      50   75.2  Non-drinking  Non-smoking

In [12]:
data6.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   gender    1000 non-null   object
 1   height    1000 non-null   int64
 2   weight    1000 non-null   int64
 3   waist     1000 non-null   float64
 4   drinking  1000 non-null   object
 5   smoking   1000 non-null   object
dtypes: float64(1), int64(2), object(3)
memory usage: 47.0+ KB

In [14]:
#데이터 저장
data6.to_pickle('./output/data6.pickle')