In [ ]:
#'서울특별시 코로나19 백신 예방접종현황'에 대한 정보를 가지고 있는 데이터 파일 (vaccine.csv)을 이용하여 모든 문제를 차례대로 수행하세요.

# 필드명 : 설명
# date : 접종일
# subject : 접종대상자
# day1num : 당일 1차 접종자 수
# day1sum : 1차 접종 누계
# day1rate : 1차 접종률
# day2num : 당일 2차 접종자 수
# day2sum : 2차 접종 누계
# day2rate : 2차 접종률

# 1) csv파일을 불러와서 하위 5행의 데이터를 확인.
# 2) 필요없는 열을 삭제한 후 출력
# 삭제할 열 : day1sum, day1rate, day2sum, day2rate
# 3) 데이터프레임의 기초통계량을 확인
# 4) 새로운열("월")을 생성한 후 데이터 날짜의 월을 입력
#  5) 월별 평균을 출력

In [1]:
import pandas as pd

In [3]:
s1 = pd.read_csv('../NumPy/input/vaccine.csv', encoding='cp949')
s1.tail()

,date,subject,day1num,day1sum,day1rate,day2num,day2sum,day2rate
174,2021.04.25,1023346,23323,350631,34.2,3411,18513,1.8
175,2021.04.24,1023346,200,350427,34.2,0,18513,1.8
176,2021.04.23,1027740,10195,345764,33.6,119,18376,1.8
177,2021.04.22,1023538,27074,317386,31.0,2479,15901,1.6
178,2021.04.21,1019322,22501,291857,28.6,2358,13543,1.3

In [5]:
s1 = s1.drop(['day1sum', 'day1rate', 'day2sum', 'day2rate'], axis=1)
s1

           date  subject  day1num  day2num
0    2021.10.16  9505868    10673    66910
1    2021.10.15  9505868    14556   133580
2    2021.10.14  9505868     9609    94569
3    2021.10.13  9505868     9804    77503
4    2021.10.12  9505868    17274   110204
..          ...      ...      ...      ...
174  2021.04.25  1023346    23323     3411
175  2021.04.24  1023346      200        0
176  2021.04.23  1027740    10195      119
177  2021.04.22  1023538    27074     2479
178  2021.04.21  1019322    22501     2358

[179 rows x 4 columns]

In [7]:
s1.describe()

            subject        day1num        day2num
count  1.790000e+02     179.000000     179.000000
mean   5.086644e+06   40078.150838   34096.636872
std    3.324235e+06   44231.469656   40745.688278
min    1.019322e+06       0.000000       0.000000
25%    2.279241e+06    4385.000000    4794.500000
50%    3.943320e+06   23323.000000   16581.000000
75%    9.505868e+06   71634.500000   50950.000000
max    9.795426e+06  169036.000000  200186.000000

In [10]:
s1.info

<bound method DataFrame.info of            date  subject  day1num  day2num
0    2021.10.16  9505868    10673    66910
1    2021.10.15  9505868    14556   133580
2    2021.10.14  9505868     9609    94569
3    2021.10.13  9505868     9804    77503
4    2021.10.12  9505868    17274   110204
..          ...      ...      ...      ...
174  2021.04.25  1023346    23323     3411
175  2021.04.24  1023346      200        0
176  2021.04.23  1027740    10195      119
177  2021.04.22  1023538    27074     2479
178  2021.04.21  1019322    22501     2358

[179 rows x 4 columns]>

In [11]:
s1['월'] = s1.date.astype(str).str.slice(5, 7)
s1

           date  subject  day1num  day2num   월
0    2021.10.16  9505868    10673    66910  10
1    2021.10.15  9505868    14556   133580  10
2    2021.10.14  9505868     9609    94569  10
3    2021.10.13  9505868     9804    77503  10
4    2021.10.12  9505868    17274   110204  10
..          ...      ...      ...      ...  ..
174  2021.04.25  1023346    23323     3411  04
175  2021.04.24  1023346      200        0  04
176  2021.04.23  1027740    10195      119  04
177  2021.04.22  1023538    27074     2479  04
178  2021.04.21  1019322    22501     2358  04

[179 rows x 5 columns]

In [15]:
s2 = s1[['day1num', 'day2num', '월']].groupby('월').mean()
s2

         day1num       day2num
월
04  22060.100000   2304.600000
05  18225.548387   9734.000000
06  55957.200000  20147.300000
07  25807.870968   9934.903226
08  57667.258065  55575.000000
09  65715.000000  62162.000000
10   9406.312500  79900.750000

In [17]:
s3 = pd.read_csv('../NumPy/input/소상공인시장진흥공단_상가(상권)정보_경북_202312.csv')
s3.info

<bound method DataFrame.info of                       상가업소번호            상호명  지점명 상권업종대분류코드 상권업종대분류명 상권업종중분류코드  \
0       MA010120220805431708           솔밭민박  NaN        I1       숙박      I101
1       MA010120220805432237            의성탕  NaN        S2    수리·개인      S208
2       MA010120220805432258          머릿결사랑  NaN        S2    수리·개인      S207
3       MA010120220805432850            아지트  NaN        I2       음식      I211
4       MA010120220805436067         백석탄골부리  NaN        R1   예술·스포츠      R104
...                      ...            ...  ...       ...      ...       ...
138540  MA010120220809351179         현대오토바이  NaN        S2    수리·개인      S204
138541  MA010120220805383352  온천골가마솥국밥경북도청점  NaN        I2       음식      I201
138542  MA0101202302A0075828         청도친구인력  NaN        N1  시설관리·임대      N104
138543  MA010120220803851633       도리도리닭도리탕  NaN        I2       음식      I201
138544  MA010120220814179145          베스트통신  NaN        G2       소매      G208

        상권업종중분류명 상권업종소분류코드      상권업종소분류명 표준산업분류코드  ...  \
0          일반 숙박    I10103            펜션   I55104  ...
1        욕탕·신체관리    S20801       목욕탕/사우나   S96121  ...
2          이용·미용    S20701           미용실   S96112  ...
3             주점    I21104         요리 주점   I56219  ...
4         유원지·오락    R10499  기타 오락관련 서비스업   R91299  ...
...          ...       ...           ...      ...  ...
138540  모터사이클 수리    S20401     모터사이클 수리업   S95220  ...
138541        한식    I20102       국/탕/찌개류   I56111  ...
138542     고용 알선    N10401        고용 알선업   N75110  ...
138543        한식    I20101        백반/한정식   I56111  ...
138544  가전·통신 소매    G20802       핸드폰 소매업   G47312  ...

                           건물관리번호   건물명                     도로명주소   구우편번호  \
0       4725042023105670001000001   NaN   경상북도 상주시 화북면 문장로 1502-9  742871
1       4773025022107490010004046   NaN       경상북도 의성군 의성읍 군청길 69  769803
2       4717012200102240005024992   NaN         경상북도 안동시 서경지5길 71  760904
3       4713012400104380004025066   NaN           경상북도 경주시 용담로 82  780954
4       4775035040101090000000001   NaN  경상북도 청송군 안덕면 백석탄로 541-21  763862
...                           ...   ...                       ...     ...
138540  4725036025105430001038988   NaN    경상북도 상주시 외남면 석단로 939-2  742971
138541  4717034021113850000000001   NaN    경상북도 안동시 풍천면 풍요6길 29-3  760811
138542  4782036031106500004022141   NaN       경상북도 청도군 금천면 금천로 78  714872
138543  4711110100100180188117959  성은빌딩        경상북도 포항시 남구 상공로 81  790827
138544  4785025325110820002033945   NaN     경상북도 칠곡군 북삼읍 금오대로1길 1  718844

        신우편번호  동정보  층정보  호정보          경도         위도
0       37102  NaN  NaN  NaN  127.922707  36.543640
1       37339  NaN  NaN  NaN  128.701183  36.352030
2       36676  NaN    1  NaN  128.715714  36.559903
3       38084  NaN    2  NaN  129.212801  35.863751
4       37449  NaN  NaN  NaN  128.995628  36.349543
...       ...  ...  ...  ...         ...        ...
138540  37259  NaN  NaN  NaN  128.089427  36.358164
138541  36759  NaN    1  NaN  128.500179  36.576034
138542  38362  NaN  NaN  NaN  128.888500  35.694607
138543  37765  NaN  NaN  NaN  129.358611  36.015412
138544  39812  NaN  NaN  NaN  128.347027  36.069870

[138545 rows x 39 columns]>

In [18]:
s3.head()

,상가업소번호,상호명,지점명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,표준산업분류코드,...,건물관리번호,건물명,도로명주소,구우편번호,신우편번호,동정보,층정보,호정보,경도,위도
0,MA010120220805431708,솔밭민박,NaN,I1,숙박,I101,일반 숙박,I10103,펜션,I55104,...,4725042023105670001000001,NaN,경상북도 상주시 화북면 문장로 1502-9,742871,37102,NaN,NaN,NaN,127.922707,36.543640
1,MA010120220805432237,의성탕,NaN,S2,수리·개인,S208,욕탕·신체관리,S20801,목욕탕/사우나,S96121,...,4773025022107490010004046,NaN,경상북도 의성군 의성읍 군청길 69,769803,37339,NaN,NaN,NaN,128.701183,36.352030
2,MA010120220805432258,머릿결사랑,NaN,S2,수리·개인,S207,이용·미용,S20701,미용실,S96112,...,4717012200102240005024992,NaN,경상북도 안동시 서경지5길 71,760904,36676,NaN,1,NaN,128.715714,36.559903
3,MA010120220805432850,아지트,NaN,I2,음식,I211,주점,I21104,요리 주점,I56219,...,4713012400104380004025066,NaN,경상북도 경주시 용담로 82,780954,38084,NaN,2,NaN,129.212801,35.863751
4,MA010120220805436067,백석탄골부리,NaN,R1,예술·스포츠,R104,유원지·오락,R10499,기타 오락관련 서비스업,R91299,...,4775035040101090000000001,NaN,경상북도 청송군 안덕면 백석탄로 541-21,763862,37449,NaN,NaN,NaN,128.995628,36.349543

In [35]:
s4 = s3[s3['시군구명'] == '경산시']
s4.head()

,상가업소번호,상호명,지점명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,표준산업분류코드,...,건물관리번호,건물명,도로명주소,구우편번호,신우편번호,동정보,층정보,호정보,경도,위도
8,MA010120220805437185,칼국수한그릇,NaN,I2,음식,I201,한식,I20105,국수/칼국수,I56112,...,4729012600106070005000001,NaN,경상북도 경산시 백양로 109,712190,38599,NaN,NaN,NaN,128.753874,35.813843
10,MA010120220805439966,영할인마트,NaN,G2,소매,G204,종합 소매,G20404,슈퍼마켓,G47129,...,4729011400105210005011976,하준빌,경상북도 경산시 궁당로 58,712150,38515,NaN,NaN,NaN,128.750477,35.844365
27,MA010120220805450515,우성돈까스,NaN,I2,음식,I203,일식,I20302,일식 카레/돈가스/덮밥,I56123,...,4729025321103670008018794,NaN,경상북도 경산시 진량읍 공단2로7길 8,712837,38458,NaN,NaN,NaN,128.822719,35.872247
28,MA010120220805453773,피스풀테이블,NaN,G2,소매,G205,식료품 소매,G20509,반찬/식료품 소매업,G47218,...,4729012100102400003062727,대구한의대오성캠퍼스,경상북도 경산시 어봉지길 285-10,712220,38578,NaN,NaN,NaN,128.788316,35.786411
30,MA010120220805455378,오케이세차장,NaN,S2,수리·개인,S203,자동차 수리·세차,S20302,자동차 세차장,S95213,...,4729025343103620000000001,NaN,경상북도 경산시 진량읍 황제1길 86-19,712837,38499,NaN,NaN,NaN,128.817967,35.859157

In [36]:
s5 = s4[s4['표준산업분류명'] == '커피 전문점']
s5.head()

,상가업소번호,상호명,지점명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,표준산업분류코드,...,건물관리번호,건물명,도로명주소,구우편번호,신우편번호,동정보,층정보,호정보,경도,위도
435,MA010120220806439036,아틀리에빈진량점,NaN,I2,음식,I212,비알코올,I21201,카페,I56221,...,4729025321112250004026475,NaN,경상북도 경산시 진량읍 다문로 59,712837,38486,NaN,NaN,NaN,128.817535,35.875275
510,MA010120220806496029,더벤티경산중방점,NaN,I2,음식,I212,비알코올,I21201,카페,I56221,...,4729011700108630001001646,NaN,경상북도 경산시 경안로38길 17,712804,38619,NaN,NaN,NaN,128.737730,35.825841
538,MA010120220806537000,너와나커피,NaN,I2,음식,I212,비알코올,I21201,카페,I56221,...,4729012600106690004011708,NaN,경상북도 경산시 백자로20길 44-1,712190,38597,NaN,NaN,NaN,128.761142,35.812436
565,MA010120220806548381,눈꽃이피다,NaN,I2,음식,I212,비알코올,I21201,카페,I56221,...,4729010800100710027009502,NaN,경상북도 경산시 경산로 105-1,712050,38684,NaN,NaN,NaN,128.729624,35.818094
931,MA010120220806907168,해르트,NaN,I2,음식,I212,비알코올,I21201,카페,I56221,...,4729025021101170005030583,NaN,경상북도 경산시 하양읍 문화로4길 35,712902,38431,NaN,1,NaN,128.816056,35.912464

In [38]:
s5.value_counts('법정동명').sort_index()

법정동명
갑제동     4
계양동    26
남산면    12
남천면     5
대동     30
대평동     9
백천동    17
사동     48
사정동    13
삼남동     2
삼북동    11
삼풍동     8
상방동     2
서상동     9
신교동     1
압량읍    37
여천동     3
옥곡동    20
옥산동    39
와촌면    16
용성면     2
유곡동     4
임당동     3
자인면    18
점촌동     4
정평동    25
조영동    24
중방동    51
중산동    26
진량읍    55
평산동     3
하양읍    77
Name: count, dtype: int64

In [43]:
s5.groupby('법정동명').count()['상가업소번호']

법정동명
갑제동     4
계양동    26
남산면    12
남천면     5
대동     30
대평동     9
백천동    17
사동     48
사정동    13
삼남동     2
삼북동    11
삼풍동     8
상방동     2
서상동     9
신교동     1
압량읍    37
여천동     3
옥곡동    20
옥산동    39
와촌면    16
용성면     2
유곡동     4
임당동     3
자인면    18
점촌동     4
정평동    25
조영동    24
중방동    51
중산동    26
진량읍    55
평산동     3
하양읍    77
Name: 상가업소번호, dtype: int64