07.판다스 데이터 그룹핑 하기

In [ ]:
# 데이터 그룹핑은 데이터를 특정한 값에 기반해 묶는 기능으로 groupby()를 사용하여 통계량을 요약할수있음
# 통계량에 관계된 메서드는 mean() 평균 std() 표준편차 var()분산 max() 최댓값 min() 최솟값등이있음

In [1]:
import pandas as pd

In [3]:
s1 = pd.read_excel('../NumPy/input/nation.xlsx')
s1

  국적코드  성별    입국객수    증가수
0  A01  남성  125000   8000
1  A01  여성  130000  10000
2  A05  남성     300     10
3  A05  여성     200     50
4  A06  남성  158912  24486
5  A06  여성  325000  63466

In [4]:
s1.groupby('국적코드').sum()

        성별    입국객수    증가수
국적코드
A01   남성여성  255000  18000
A05   남성여성     500     60
A06   남성여성  483912  87952

In [5]:
s1.groupby('성별').sum()

         국적코드    입국객수    증가수
성별
남성  A01A05A06  284212  32496
여성  A01A05A06  455200  73516

In [6]:
s1.groupby(['국적코드', '성별']).sum()

           입국객수    증가수
국적코드 성별
A01  남성  125000   8000
     여성  130000  10000
A05  남성     300     10
     여성     200     50
A06  남성  158912  24486
     여성  325000  63466

In [13]:
s2 = pd.read_csv('../NumPy/input/covid.csv', encoding='cp949')
s2

       항목  사례수    증가    감소  변화없음
0    스마트폰  999  78.9   1.7  19.4
1    텔레비전  965  68.5   3.9  27.6
2  개인용 PC  973  65.7   3.7  30.6
3  태블릿 PC  662  46.8   4.2  49.0
4     라디오  687  35.5  12.5  52.0
5    잡지·책  776  31.3  17.8  50.9
6    종이신문  552  17.6  23.2  59.2

In [26]:
s2.groupby(['사례수', '항목']).max()[-1:]

            증가   감소  변화없음
사례수 항목
999 스마트폰  78.9  1.7  19.4

In [33]:
s2.groupby(['증가', '항목']).max()[-3:]

             사례수   감소  변화없음
증가   항목
65.7 개인용 PC  973  3.7  30.6
68.5 텔레비전    965  3.9  27.6
78.9 스마트폰    999  1.7  19.4

In [34]:
s2

       항목  사례수    증가    감소  변화없음
0    스마트폰  999  78.9   1.7  19.4
1    텔레비전  965  68.5   3.9  27.6
2  개인용 PC  973  65.7   3.7  30.6
3  태블릿 PC  662  46.8   4.2  49.0
4     라디오  687  35.5  12.5  52.0
5    잡지·책  776  31.3  17.8  50.9
6    종이신문  552  17.6  23.2  59.2

In [48]:
s3 = pd.read_csv('../NumPy/input/professor.csv', encoding='cp949')
s4 = pd.read_csv('../NumPy/input/signup.csv', encoding='cp949')
s5 = pd.merge(s3, s4, on='담당교수')
s5

  담당교수     학과  수강코드    과목명
0  양숙희  컴퓨터공학   111    파이썬
1  장은실   정보통신   333   인공지능
2  오경선   인공지능   222  데이터분석
3  황복동  컴퓨터공학   444   선형대수
4  정명식   인공지능   555   이산수학

In [50]:
s6 = s3.groupby('학과').count()
s6

       담당교수
학과
인공지능      2
정보통신      1
컴퓨터공학     2