In [1]:
#'서울특별시 코로나19 백신 예방접종현황'에 대한 정보를 가지고 있는 데이터 파일 (vaccine.csv)을 이용하여 모든 문제를 차례대로 수행하세요.

# 필드명 : 설명
# date : 접종일
# subject : 접종대상자
# day1num : 당일 1차 접종자 수
# day1sum : 1차 접종 누계
# day1rate : 1차 접종률
# day2num : 당일 2차 접종자 수
# day2sum : 2차 접종 누계
# day2rate : 2차 접종률

# 1) csv파일을 불러와서 하위 5행의 데이터를 확인.
# 2) 필요없는 열을 삭제한 후 출력
# 삭제할 열 : day1sum, day1rate, day2sum, day2rate
# 3) 데이터프레임의 기초통계량을 확인
# 4) 새로운열("월")을 생성한 후 데이터 날짜의 월을 입력
# 5) 월별 평균을 출력

In [3]:
import pandas as pd

In [7]:
df = pd.read_csv('./input/vaccine.csv')
df.tail()

,date,subject,day1num,day1sum,day1rate,day2num,day2sum,day2rate
174,2021.04.25,1023346,23323,350631,34.2,3411,18513,1.8
175,2021.04.24,1023346,200,350427,34.2,0,18513,1.8
176,2021.04.23,1027740,10195,345764,33.6,119,18376,1.8
177,2021.04.22,1023538,27074,317386,31.0,2479,15901,1.6
178,2021.04.21,1019322,22501,291857,28.6,2358,13543,1.3

In [18]:
df1 = df.drop(['day1sum', 'day1rate', 'day2sum', 'day2rate'], axis=1)
df1

           date  subject  day1num  day2num
0    2021.10.16  9505868    10673    66910
1    2021.10.15  9505868    14556   133580
2    2021.10.14  9505868     9609    94569
3    2021.10.13  9505868     9804    77503
4    2021.10.12  9505868    17274   110204
..          ...      ...      ...      ...
174  2021.04.25  1023346    23323     3411
175  2021.04.24  1023346      200        0
176  2021.04.23  1027740    10195      119
177  2021.04.22  1023538    27074     2479
178  2021.04.21  1019322    22501     2358

[179 rows x 4 columns]

In [11]:
df1.describe()

            subject        day1num        day2num
count  1.790000e+02     179.000000     179.000000
mean   5.086644e+06   40078.150838   34096.636872
std    3.324235e+06   44231.469656   40745.688278
min    1.019322e+06       0.000000       0.000000
25%    2.279241e+06    4385.000000    4794.500000
50%    3.943320e+06   23323.000000   16581.000000
75%    9.505868e+06   71634.500000   50950.000000
max    9.795426e+06  169036.000000  200186.000000

In [20]:
df1['월'] = df1.date.astype(str).str.slice(5, 7)
df1

           date  subject  day1num  day2num   월
0    2021.10.16  9505868    10673    66910  10
1    2021.10.15  9505868    14556   133580  10
2    2021.10.14  9505868     9609    94569  10
3    2021.10.13  9505868     9804    77503  10
4    2021.10.12  9505868    17274   110204  10
..          ...      ...      ...      ...  ..
174  2021.04.25  1023346    23323     3411  04
175  2021.04.24  1023346      200        0  04
176  2021.04.23  1027740    10195      119  04
177  2021.04.22  1023538    27074     2479  04
178  2021.04.21  1019322    22501     2358  04

[179 rows x 5 columns]

In [21]:
df.info

<bound method DataFrame.info of            date  subject  day1num  day1sum  day1rate  day2num  day2sum  \
0    2021.10.16  9505868    10673  7562283      79.6    66910  6191341
1    2021.10.15  9505868    14556  7551829      79.4   133580  6124432
2    2021.10.14  9505868     9609  7536654      79.3    94569  5989111
3    2021.10.13  9505868     9804  7526430      79.2    77503  5893191
4    2021.10.12  9505868    17274  7516070      79.1   110204  5814018
..          ...      ...      ...      ...       ...      ...      ...
174  2021.04.25  1023346    23323   350631      34.2     3411    18513
175  2021.04.24  1023346      200   350427      34.2        0    18513
176  2021.04.23  1027740    10195   345764      33.6      119    18376
177  2021.04.22  1023538    27074   317386      31.0     2479    15901
178  2021.04.21  1019322    22501   291857      28.6     2358    13543

     day2rate
0        65.1
1        64.4
2        63.0
3        62.0
4        61.2
..        ...
174       1.8
175       1.8
176       1.8
177       1.6
178       1.3

[179 rows x 8 columns]>

In [23]:
# 평균을 출력할 수 있는 열(접종일과 접종대상자는 평균을 구할 필요가 없음)만 선택 후 평균.
df2 = df1[['day1num', 'day2num', '월']].groupby('월').mean()
df2

         day1num       day2num
월
04  22060.100000   2304.600000
05  18225.548387   9734.000000
06  55957.200000  20147.300000
07  25807.870968   9934.903226
08  57667.258065  55575.000000
09  65715.000000  62162.000000
10   9406.312500  79900.750000