In [4]:
import pandas as pd

In [6]:
df = pd.read_csv('./input/소상공인시장진흥공단_상가(상권)정보_경북_202312.csv')
df

,상가업소번호,상호명,지점명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,표준산업분류코드,...,건물관리번호,건물명,도로명주소,구우편번호,신우편번호,동정보,층정보,호정보,경도,위도
0,MA010120220805431708,솔밭민박,NaN,I1,숙박,I101,일반 숙박,I10103,펜션,I55104,...,4725042023105670001000001,NaN,경상북도 상주시 화북면 문장로 1502-9,742871,37102,NaN,NaN,NaN,127.922707,36.543640
1,MA010120220805432237,의성탕,NaN,S2,수리·개인,S208,욕탕·신체관리,S20801,목욕탕/사우나,S96121,...,4773025022107490010004046,NaN,경상북도 의성군 의성읍 군청길 69,769803,37339,NaN,NaN,NaN,128.701183,36.352030
2,MA010120220805432258,머릿결사랑,NaN,S2,수리·개인,S207,이용·미용,S20701,미용실,S96112,...,4717012200102240005024992,NaN,경상북도 안동시 서경지5길 71,760904,36676,NaN,1,NaN,128.715714,36.559903
3,MA010120220805432850,아지트,NaN,I2,음식,I211,주점,I21104,요리 주점,I56219,...,4713012400104380004025066,NaN,경상북도 경주시 용담로 82,780954,38084,NaN,2,NaN,129.212801,35.863751
4,MA010120220805436067,백석탄골부리,NaN,R1,예술·스포츠,R104,유원지·오락,R10499,기타 오락관련 서비스업,R91299,...,4775035040101090000000001,NaN,경상북도 청송군 안덕면 백석탄로 541-21,763862,37449,NaN,NaN,NaN,128.995628,36.349543
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138540,MA010120220809351179,현대오토바이,NaN,S2,수리·개인,S204,모터사이클 수리,S20401,모터사이클 수리업,S95220,...,4725036025105430001038988,NaN,경상북도 상주시 외남면 석단로 939-2,742971,37259,NaN,NaN,NaN,128.089427,36.358164
138541,MA010120220805383352,온천골가마솥국밥경북도청점,NaN,I2,음식,I201,한식,I20102,국/탕/찌개류,I56111,...,4717034021113850000000001,NaN,경상북도 안동시 풍천면 풍요6길 29-3,760811,36759,NaN,1,NaN,128.500179,36.576034
138542,MA0101202302A0075828,청도친구인력,NaN,N1,시설관리·임대,N104,고용 알선,N10401,고용 알선업,N75110,...,4782036031106500004022141,NaN,경상북도 청도군 금천면 금천로 78,714872,38362,NaN,NaN,NaN,128.888500,35.694607
138543,MA010120220803851633,도리도리닭도리탕,NaN,I2,음식,I201,한식,I20101,백반/한정식,I56111,...,4711110100100180188117959,성은빌딩,경상북도 포항시 남구 상공로 81,790827,37765,NaN,NaN,NaN,129.358611,36.015412
138544,MA010120220814179145,베스트통신,NaN,G2,소매,G208,가전·통신 소매,G20802,핸드폰 소매업,G47312,...,4785025325110820002033945,NaN,경상북도 칠곡군 북삼읍 금오대로1길 1,718844,39812,NaN,NaN,NaN,128.347027,36.069870

In [20]:
df2 = df.value_counts(['시군구명'])
df2

시군구명
구미시       19909
경주시       16852
포항시 북구    14240
포항시 남구    12904
경산시       12743
안동시        9001
김천시        6371
영주시        6152
칠곡군        5889
영천시        4812
상주시        4756
문경시        4162
울진군        3032
영덕군        2738
청도군        2447
예천군        2287
의성군        2187
성주군        2169
청송군        1451
고령군        1451
봉화군        1437
울릉군         863
영양군         692
Name: count, dtype: int64

In [28]:
df2.to_csv('./output/gk_store_01.csv')

In [22]:
df3 = df.value_counts(['시군구명'], ascending=True)
df3

시군구명
영양군         692
울릉군         863
봉화군        1437
고령군        1451
청송군        1451
성주군        2169
의성군        2187
예천군        2287
청도군        2447
영덕군        2738
울진군        3032
문경시        4162
상주시        4756
영천시        4812
칠곡군        5889
영주시        6152
김천시        6371
안동시        9001
경산시       12743
포항시 남구    12904
포항시 북구    14240
경주시       16852
구미시       19909
Name: count, dtype: int64

In [25]:
df4 = df3.head()
df4

시군구명
영양군      692
울릉군      863
봉화군     1437
고령군     1451
청송군     1451
Name: count, dtype: int64

In [27]:
df4.to_csv('./output/gk_store_02.csv')

In [29]:
df5 = df.value_counts(['상권업종대분류코드'], ascending=True)
df6 = df5.head(3)
df6

상권업종대분류코드
Q1            834
L1           3933
N1           4714
Name: count, dtype: int64

In [30]:
df6.to_csv('./output/gk_store_03.csv')

In [10]:
# 경산에 있는 커피 전문점(표준산업분류명 기준)을 동(법정동 기준)별로 몇개가 있는지 출력(출력기준은 법정동 가나다 순)
df8 = df[df['시군구명'] == '경산시']
df8.head()

,상가업소번호,상호명,지점명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,표준산업분류코드,...,건물관리번호,건물명,도로명주소,구우편번호,신우편번호,동정보,층정보,호정보,경도,위도
8,MA010120220805437185,칼국수한그릇,NaN,I2,음식,I201,한식,I20105,국수/칼국수,I56112,...,4729012600106070005000001,NaN,경상북도 경산시 백양로 109,712190,38599,NaN,NaN,NaN,128.753874,35.813843
10,MA010120220805439966,영할인마트,NaN,G2,소매,G204,종합 소매,G20404,슈퍼마켓,G47129,...,4729011400105210005011976,하준빌,경상북도 경산시 궁당로 58,712150,38515,NaN,NaN,NaN,128.750477,35.844365
27,MA010120220805450515,우성돈까스,NaN,I2,음식,I203,일식,I20302,일식 카레/돈가스/덮밥,I56123,...,4729025321103670008018794,NaN,경상북도 경산시 진량읍 공단2로7길 8,712837,38458,NaN,NaN,NaN,128.822719,35.872247
28,MA010120220805453773,피스풀테이블,NaN,G2,소매,G205,식료품 소매,G20509,반찬/식료품 소매업,G47218,...,4729012100102400003062727,대구한의대오성캠퍼스,경상북도 경산시 어봉지길 285-10,712220,38578,NaN,NaN,NaN,128.788316,35.786411
30,MA010120220805455378,오케이세차장,NaN,S2,수리·개인,S203,자동차 수리·세차,S20302,자동차 세차장,S95213,...,4729025343103620000000001,NaN,경상북도 경산시 진량읍 황제1길 86-19,712837,38499,NaN,NaN,NaN,128.817967,35.859157

In [12]:
df9 = df8[df8['표준산업분류명'] == '커피 전문점']
df9.head()

,상가업소번호,상호명,지점명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,표준산업분류코드,...,건물관리번호,건물명,도로명주소,구우편번호,신우편번호,동정보,층정보,호정보,경도,위도
435,MA010120220806439036,아틀리에빈진량점,NaN,I2,음식,I212,비알코올,I21201,카페,I56221,...,4729025321112250004026475,NaN,경상북도 경산시 진량읍 다문로 59,712837,38486,NaN,NaN,NaN,128.817535,35.875275
510,MA010120220806496029,더벤티경산중방점,NaN,I2,음식,I212,비알코올,I21201,카페,I56221,...,4729011700108630001001646,NaN,경상북도 경산시 경안로38길 17,712804,38619,NaN,NaN,NaN,128.737730,35.825841
538,MA010120220806537000,너와나커피,NaN,I2,음식,I212,비알코올,I21201,카페,I56221,...,4729012600106690004011708,NaN,경상북도 경산시 백자로20길 44-1,712190,38597,NaN,NaN,NaN,128.761142,35.812436
565,MA010120220806548381,눈꽃이피다,NaN,I2,음식,I212,비알코올,I21201,카페,I56221,...,4729010800100710027009502,NaN,경상북도 경산시 경산로 105-1,712050,38684,NaN,NaN,NaN,128.729624,35.818094
931,MA010120220806907168,해르트,NaN,I2,음식,I212,비알코올,I21201,카페,I56221,...,4729025021101170005030583,NaN,경상북도 경산시 하양읍 문화로4길 35,712902,38431,NaN,1,NaN,128.816056,35.912464

In [13]:
df9.info()

<class 'pandas.core.frame.DataFrame'>
Index: 604 entries, 435 to 138275
Data columns (total 39 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   상가업소번호     604 non-null    object
 1   상호명        604 non-null    object
 2   지점명        22 non-null     object
 3   상권업종대분류코드  604 non-null    object
 4   상권업종대분류명   604 non-null    object
 5   상권업종중분류코드  604 non-null    object
 6   상권업종중분류명   604 non-null    object
 7   상권업종소분류코드  604 non-null    object
 8   상권업종소분류명   604 non-null    object
 9   표준산업분류코드   604 non-null    object
 10  표준산업분류명    604 non-null    object
 11  시도코드       604 non-null    int64
 12  시도명        604 non-null    object
 13  시군구코드      604 non-null    int64
 14  시군구명       604 non-null    object
 15  행정동코드      604 non-null    int64
 16  행정동명       604 non-null    object
 17  법정동코드      604 non-null    int64
 18  법정동명       604 non-null    object
 19  지번코드       604 non-null    int64
 20  대지구분코드     604 non-null    int64
 21  대지구분명      604 non-null    object
 22  지번본번지      604 non-null    float64
 23  지번부번지      431 non-null    float64
 24  지번주소       604 non-null    object
 25  도로명코드      604 non-null    int64
 26  도로명        604 non-null    object
 27  건물본번지      604 non-null    int64
 28  건물부번지      144 non-null    float64
 29  건물관리번호     604 non-null    object
 30  건물명        103 non-null    object
 31  도로명주소      604 non-null    object
 32  구우편번호      604 non-null    int64
 33  신우편번호      604 non-null    int64
 34  동정보        0 non-null      float64
 35  층정보        281 non-null    object
 36  호정보        0 non-null      float64
 37  경도         604 non-null    float64
 38  위도         604 non-null    float64
dtypes: float64(7), int64(10), object(22)
memory usage: 188.8+ KB

In [15]:
# case1.
# value_counts() 을 이용해서 법정동에 몇개의 데이터가 있는지 반환 후 sort_index()를 이용하여 인덱스 값 기준으로 정렬.
df9.value_counts('법정동명').sort_index()

법정동명
갑제동     4
계양동    26
남산면    12
남천면     5
대동     30
대평동     9
백천동    17
사동     48
사정동    13
삼남동     2
삼북동    11
삼풍동     8
상방동     2
서상동     9
신교동     1
압량읍    37
여천동     3
옥곡동    20
옥산동    39
와촌면    16
용성면     2
유곡동     4
임당동     3
자인면    18
점촌동     4
정평동    25
조영동    24
중방동    51
중산동    26
진량읍    55
평산동     3
하양읍    77
Name: count, dtype: int64

In [16]:
# case2.
# '법정동명'으로 그룹을 나눈 후, 데이터의 고유번호인 '상가업소번호'의 개수를 카운팅.
df9.groupby('법정동명').count()['상가업소번호']

법정동명
갑제동     4
계양동    26
남산면    12
남천면     5
대동     30
대평동     9
백천동    17
사동     48
사정동    13
삼남동     2
삼북동    11
삼풍동     8
상방동     2
서상동     9
신교동     1
압량읍    37
여천동     3
옥곡동    20
옥산동    39
와촌면    16
용성면     2
유곡동     4
임당동     3
자인면    18
점촌동     4
정평동    25
조영동    24
중방동    51
중산동    26
진량읍    55
평산동     3
하양읍    77
Name: 상가업소번호, dtype: int64