In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('./input/signup.csv', encoding='cp949')
df

   수강코드    과목명 담당교수
0   111    파이썬  양숙희
1   222  데이터분석  오경선
2   333   인공지능  장은실
3   444   선형대수  황복동
4   555   이산수학  정명식
5   666  컴퓨터개론  최봉수
6   777   자료구조  김진영
7   888   정보통신  김진호

In [6]:
df2 = pd.read_csv('./input/professor.csv', encoding='cp949')
df2

  담당교수     학과
0  양숙희  컴퓨터공학
1  장은실   정보통신
2  오경선   인공지능
3  황복동  컴퓨터공학
4  정명식   인공지능

In [18]:
df3 = pd.merge(df, df2, on='담당교수', how='inner')
df3

   수강코드    과목명 담당교수     학과
0   111    파이썬  양숙희  컴퓨터공학
1   222  데이터분석  오경선   인공지능
2   333   인공지능  장은실   정보통신
3   444   선형대수  황복동  컴퓨터공학
4   555   이산수학  정명식   인공지능

In [19]:
# 교수 테이블에서 학과별 인원 수를 출력하세요.
df4 = df2.groupby('학과').count()
df4

       담당교수
학과
인공지능      2
정보통신      1
컴퓨터공학     2