In [1]:
import pandas as pd

In [5]:
df = pd.read_csv('./input/covid.csv', encoding='cp949')
df

       항목  사례수    증가    감소  변화없음
0    스마트폰  999  78.9   1.7  19.4
1    텔레비전  965  68.5   3.9  27.6
2  개인용 PC  973  65.7   3.7  30.6
3  태블릿 PC  662  46.8   4.2  49.0
4     라디오  687  35.5  12.5  52.0
5    잡지·책  776  31.3  17.8  50.9
6    종이신문  552  17.6  23.2  59.2

In [17]:
w = df['사례수'] == df['사례수'].max()
df[w]

     항목  사례수    증가   감소  변화없음
0  스마트폰  999  78.9  1.7  19.4

In [18]:
df2 = df.sort_values(['증가'], ascending=False)
df3 = df2.iloc[:3]
df3

       항목  사례수    증가   감소  변화없음
0    스마트폰  999  78.9  1.7  19.4
1    텔레비전  965  68.5  3.9  27.6
2  개인용 PC  973  65.7  3.7  30.6