In [10]:
import pandas as pd

df = pd.read_csv('./input/daegufood_street.csv')
df.head()

             음식골목명        음식점 상호                      음식점 주소
0  (동구)동촌유원지명물먹거리촌       (주)32마루     동구 효동로2길 33-7, 1층 (효목동)
1  (동구)동촌유원지명물먹거리촌  (주)삼십미리에스프레소    동구 효동로6길 47-5, 1~2층(효목동)
2  (동구)동촌유원지명물먹거리촌     365감자탕동촌점     동구 효동로2길 41, 1,2층 (효목동)
3  (동구)동촌유원지명물먹거리촌  55온족발 동촌유원지점       동구 효동로2길 45, 4층 (효목동)
4  (동구)동촌유원지명물먹거리촌            고고  동구 효동로2길 57-11, 지하1층 (효목동)

In [9]:
food_summary = df['음식골목명'].value_counts()
print(food_summary)

food_summary.to_csv('./output/daegufood_street_summary.csv')

음식골목명
(동구)동대구역터미널 먹거리골목    110
(동구)서촌먹거리촌           107
(동구)동촌유원지명물먹거리촌       83
(동구)혁신도시 중앙상가연합회      62
(동구)동화사먹거리촌           37
(동구)동막골               28
(동구)평화시장닭똥집골목         21
(동구)갓바위먹거리촌           18
(동구)파계사먹거리촌           11
Name: count, dtype: int64