In [2]:
import pandas as pd

In [3]:
s1 = pd.Series([10, 20, 30, 40, 50])
s1

0    10
1    20
2    30
3    40
4    50
dtype: int64

# 열단위로 출력
# 자동으로 데이터에 라벨이 부여되고, 세로축 라벨을 index라 하고, 입력한 시퀀스 데이터는 values라고 부름

# Series 데이터는 index와 value를 분리해서 가져 올 수 있음.
# Series 데이터를 s라고 할 때 index는 s.index로, values는 s.values로 가져 올 수 있음.

In [4]:
s1.index

RangeIndex(start=0, stop=5, step=1)

In [5]:
s1.values

array([10, 20, 30, 40, 50])

# numpy의 경우 배열의 모든 원소가 데이터 타입이 같아야 했지만,
# pandas의 경우에는 원소의 데이터 타입이 달라도 저장 가능.

In [6]:
s2 = pd.Series(['a', 'b', 'c', 1, 2, 3])  # 넘파이였다면 모두를 문자열로 변경.
print(s2)

0    a
1    b
2    c
3    1
4    2
5    3
dtype: object

In [7]:
# 데이터가 없으면 numpy를 임포트한 후에 np.nan으로 데이터가 없음을 표시 할 수 있음.
import numpy as np

In [8]:
s3 = pd.Series([np.nan, 10, 30])
print(s3)

0     NaN
1    10.0
2    30.0
dtype: float64

# 데이터를 위한 자리 index는 있지만 실제 값이 없음.

# Series 데이터를 생성할 때 다음과 같이 인자로 index 추가 가능.
# s = pd.Series(seq_data, index = index_seq)
# 인자로 index를 명시적으로 입력하면 Series 변수(s)의 index에는 자동생성되는 index 대신 index_seq가 들어가게 됨.
# index_seq도 리스트와 튜플 타입의 데이터를 모두 사용가능하지만 주로 리스트를 사용.
# 주의할 점은 seq_data의 항목 개수와 index_seq의 항목 개수가 같아야하 함.

In [9]:
# 어느 가게의 날짜별 판매량을 pandas의 Series형식으로 입력. 하루는 데이터가 없어서 np.nan을 입력.
index_data = ['2018-10-07', '2018-10-08', '2018-10-09', '2018-10-10']
s4 = pd.Series([200, 195, np.nan, 205], index=index_data)
s4

2018-10-07    200.0
2018-10-08    195.0
2018-10-09      NaN
2018-10-10    205.0
dtype: float64

In [10]:
s4.index

Index(['2018-10-07', '2018-10-08', '2018-10-09', '2018-10-10'], dtype='object')

In [11]:
# 파이썬의 딕셔너리를 사용하면 데이터와 index를 함께 입력할 수 있음.
# s = pd.Series(dict_data)
# 입력 인자로 딕셔너리 데이터를 입력하면 딕셔너리 데이터의 키 key와 값 value이 각각
# Series 데이터의 index와 values로 들어감

In [12]:
s5 = pd.Series({'국어': 100, '영어': 95, '수학': 90})
s5

국어    100
영어     95
수학     90
dtype: int64