In [1]:
import pandas as pd

In [2]:
s1 = pd.read_excel('./input/nation.xlsx')
s1

  국적코드  성별    입국객수    증가수
0  A01  남성  125000   8000
1  A01  여성  130000  10000
2  A05  남성     300     10
3  A05  여성     200     50
4  A06  남성  158912  24486
5  A06  여성  325000  63466

In [4]:
s1.groupby('국적코드').sum()

        성별    입국객수    증가수
국적코드
A01   남성여성  255000  18000
A05   남성여성     500     60
A06   남성여성  483912  87952

In [5]:
s1.groupby('성별').sum()

         국적코드    입국객수    증가수
성별
남성  A01A05A06  284212  32496
여성  A01A05A06  455200  73516

In [6]:
# 여러 열을 기준으로 그룹화하기
s1.groupby(['국적코드', '성별']).sum()

           입국객수    증가수
국적코드 성별
A01  남성  125000   8000
     여성  130000  10000
A05  남성     300     10
     여성     200     50
A06  남성  158912  24486
     여성  325000  63466

In [ ]:
# 여러 열을 그룹으로 묶어서 계층적인 인덱스를 구성하고 sum()을 사용해서 인덱스별 합을 구함